:root {
    --lightGray: hsl(212, 45%, 89%);
    --grayishBlue: hsl(220, 15%, 55%);
    --darkBlue: hsl(218, 44%, 22%);
}

body {
    background-color: var(--lightGray);
    font-family: "Outfit", sans-serif;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

main {
    min-height: 100vh;
    position: relative;
}

/* Card */
.card {
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    padding: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

.card-img {
    border-radius: 15px;
}

.card-text {
    margin: 20px;
}

.card-title {
    color: var(--darkBlue);
    font-weight: 700;
    font-size: 1.4rem;
}

.card-description {
    color: var(--grayishBlue);
    font-weight: 400;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
