.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Red Hat Display";

    background-image: url(images/pattern-background-desktop.svg);
    background-color: #e0e8ff;
    background-repeat: no-repeat;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
    overflow: hidden;
    margin: auto;

    background-color: white;
    min-width: 21.875rem;
    width: 350px;
    border-radius: 20px;

    text-align: center;
}

img {
    max-width: 100%;
    align-self: center;
}

.card-desc {
    padding: 20px;
}

#desc-text {
    margin: auto;
    width: 80%;
}

#plan {
    background-color: #f8f9fe;
    border-radius: 10px;
    box-sizing: border-box;

    padding: 15px;
    margin-top: 30px;

    display: flex;

    font-weight: 900;
}

.plan-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;

    margin-left: 20px;
}

#plan a {
    font-size: 13px;
    margin-left: 55px;

    color: hsl(245, 75%, 52%);
}

#plan a:hover {
    text-decoration: none;
    color: #766cf1;
}

#proceed-btn {
    display: block;
    text-decoration: none;
    color: white;
    background-color: #382ae1;
    padding: 15px 20px;
    border-radius: 10px;

    box-shadow: 0px 20px 20px #392ae136;

    margin-top: 20px;
}

#proceed-btn:hover {
    background-color: #766cf1;
}

#cancel-btn {
    display: inline-block;
    text-decoration: none;
    color: #9398ae;

    margin-top: 20px;
    margin-bottom: 10px;
}

#cancel-btn:hover {
    color: black;
}

/* Utilities Class */
.fw-900 {
    font-weight: 900;
}

.fw-700 {
    font-weight: 700;
}

p {
    color: #9398ae;
}

.no-margin {
    margin: 0;
}

.self-center {
    align-self: center;
}

@media screen and (min-width: 1440px) {
    .card {
        width: 450px;
    }

    .card-desc {
        padding: 20px 40px;
    }

    #plan {
        padding: 25px;
    }

    #plan a {
        margin-left: 125px;
    }
}

.btn {
    font-size: 14px;
}
